/* Custom CSS */
#character-tray {
    width: 80%;
    height: auto;
}

.character-container {
    width: auto;
    height: auto;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 3px solid black;
    border-radius: 15px;
}

.character-container h3, .character-container img {
    margin: 0 auto;
    text-align: center;
    display: block;

}

#reset-button {
    display: none;
}